In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age','bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[['charges']]

In [9]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
#!pip install scikit-learn==1.0.0

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=1/3,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [14]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'splitter':['best','random'],'max_features':['auto','sqrt','log2']}

grid = GridSearchCV (DecisionTreeRegressor(), param_grid, refit = True, verbose = 3, n_jobs=-1)

grid.fit(X_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\anule\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [15]:
re=grid.cv_results_
print("The R_score valve for best parameter{}:".format(grid.best_params_))

The R_score valve for best parameter{'criterion': 'mse', 'max_features': 'log2', 'splitter': 'best'}:

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.030582,0.010040,0.016908,0.014725,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.706977,0.502311,0.751186,0.639606,0.669773,0.653970,0.084519,4
1,0.018390,0.006136,0.009611,0.007859,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.625904,0.624083,0.727402,0.662550,0.673259,0.662640,0.037797,2
2,0.024810,0.008417,0.011788,0.006058,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.675338,0.585479,0.571001,0.657289,0.612662,0.620354,0.040246,7
3,0.022768,0.007251,0.006252,0.007657,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.375797,0.493430,0.563429,0.510997,0.543155,0.497362,0.065485,18
4,0.013394,0.006867,0.009461,0.006344,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.733848,0.619932,0.668147,0.736832,0.669721,0.685696,0.044320,1
5,0.014570,0.004700,0.006662,0.005058,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.685482,0.464856,0.649766,0.339522,0.688312,0.565588,0.139839,15
6,0.066568,0.013777,0.003124,0.006249,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.650048,0.545609,0.674508,0.615791,0.626962,0.622584,0.043453,6
7,0.049551,0.006593,0.006250,0.007654,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.649524,0.560130,0.667905,0.519013,0.609774,0.601269,0.055317,9
8,0.036391,0.003991,0.006249,0.007653,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.450959,0.652517,0.598326,0.698024,0.603702,0.600706,0.083179,10
9,0.028488,0.007885,0.008884,0.005425,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.558311,0.381739,0.755415,0.661552,0.517733,0.574950,0.127239,14
10,0.029730,0.003605,0.013301,0.006710,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.557718,0.583902,0.597652,0.424484,0.611243,0.555000,0.067616,16
11,0.035938,0.006540,0.009052,0.007414,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.652105,0.640245,0.643645,0.511899,0.513942,0.592367,0.064986,13
12,0.019753,0.005865,0.002803,0.005606,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.705324,0.515923,0.745714,0.624594,0.664036,0.651118,0.078784,5
13,0.010175,0.007552,0.013061,0.005302,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.634380,0.709968,0.613447,0.711738,0.624621,0.658831,0.042993,3
14,0.016407,0.001982,0.005919,0.005935,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.622021,0.631522,0.566047,0.550853,0.612159,0.596520,0.032044,12
15,0.015103,0.009079,0.006250,0.007655,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.563402,0.407743,0.700843,0.573715,0.504088,0.549958,0.095750,17
16,0.014268,0.010049,0.010924,0.005168,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.697419,0.531867,0.727439,0.576538,0.565032,0.619659,0.077735,8
17,0.009887,0.003227,0.003602,0.002123,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.574596,0.537028,0.596181,0.602469,0.674424,0.596940,0.044997,11

In [18]:
age_input=float(input("Age: "))
bmi_input=float(input("BMI: "))
children_input=float(input("Children: "))
sex_male_input=int(input("Sex Male 0 or 1: "))
smoker_yes_input=int(input("Smoker Yes 0 or 1: "))

Age: 4
BMI: 35
Children: 1
Sex Male 0 or 1: 1
Smoker Yes 0 or 1: 0

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[14988.432]